.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

.section__main{
    display: flex;
    justify-content: space-between;
}
.box h5{
    cursor: pointer;
    padding-right: 20px;
    display: inline-block;
    color: gray;
}
.box1 input{
    border: none;
    background-color:  #FFFBED;
    outline: none;
    margin-top: 20px;
    width: 250px;
    padding:5px
}
.box1{
    border-left: 1px solid lightgray;
}

/* section2 */

.section2__main{
    margin-top: 20px;
    display: flex;

}

.section2__box{
    position: relative;
    margin-right: 5px;
}
.title{
    color: white;
}
.btn{
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #FD9339;
    color: white;
}
.section2__box .title{
    position: absolute;
    top: 10px;
    left: 10px;
}
.text{
    position: absolute;
    top: 80px;
    left: 10px;
    color: white;
}
.btn{
    position: absolute;
    top: 250px;
    left: 10px ;
}

.textt{
    color: #FD9339;
    position:absolute;
    top: 200px;
    left: 10px;

}
.titlee{
    color: white;
    position: absolute;
    top: 230px;
    left: 10px;
}

.texttt{
    position: absolute;
    top:200px;
    color: #FD9339;
    left: 10px;
}
.titleee{
    position: absolute;
    top: 230px;
    color: white;
    left: 10px;
}


